{% include 'admin/includes/header.twig' %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>Заказы</h1>
    </section>
    <section class="content">
        <div class="container-fluid">
            {% if error_warning %}
                <div class="alert alert-danger alert-dismissible"><i
                            class="fa fa-exclamation-circle"></i> {{ error_warning }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            {% if success %}
                <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            <div class="row">
                <div id="filter-order" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-filter"></i>Фильтр</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label" for="input-id">№ заказа</label>
                                <input type="number" min="1" name="id" placeholder="№ заказа" id="input-id" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-client">Клиент</label>
                                <input type="text" name="client" placeholder="Клиент" id="input-client" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-shipping_method_id">Способ доставки</label>
                                <select name="filter_shipping_method_id" id="input-shipping_method_id" class="form-control">
                                    <option>Не выбрано</option>
                                    {% for shippingMethod in orderShippingMethodList %}
                                        <option value="{{ shippingMethod.id }}">{{ shippingMethod.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-payment_method_id">Способ оплаты</label>
                                <select name="filter_payment_method_id" id="input-payment_method_id" class="form-control">
                                    <option>Не выбрано</option>
                                    {% for paymentMethod in orderPaymentMethodList %}
                                        <option value="{{ paymentMethod.id }}">{{ paymentMethod.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-total_price">Цена итого</label>
                                <input type="number" min="1" step="1.00" name="total_price" placeholder="Цена итого" id="input-total_price" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-status_id">Статус</label>
                                <select name="filter_status_id" id="input-status_id" class="form-control">
                                    <option>Не выбрано</option>
                                    {% for order in orderStatusList %}
                                        <option value="{{ order.id }}">{{ order.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-created_at">Дата заказа</label>
                                <input type="date" name="created_at" placeholder="Цена" id="input-created_at" class="form-control"/>
                            </div>
                            <div class="form-group text-right">
                                <button type="button" id="button-filter" class="btn btn-stile"><i
                                            class="fa fa-filter"></i>Фильтровать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-md-pull-3 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
                        </div>
                        <div class="panel-body">
                            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-order">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <td class="text-left">
                                                <a {% if sort.order == 'o.id' %} class="{{ sort.desc|lower }}" {% endif %}
                                                        href="/admin/order/sort/?order=o.id&desc={{ sort.desc }}">№ заказа
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <a {% if sort.order == 'o.first_name' %} class="{{ sort.desc|lower }}" {% endif %}
                                                        href="/admin/order/sort/?order=o.first_name&desc={{ sort.desc }}">Клиент
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <a {% if sort.order == 'shipping_method_name' %} class="{{ sort.desc|lower }}" {% endif %}
                                                        href="/admin/order/sort/?order=shipping_method_name&desc={{ sort.desc }}">Способ<br> доставки
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <a {% if sort.order == 'payment_method_name' %} class="{{ sort.desc|lower }}" {% endif %}
                                                        href="/admin/order/sort/?order=payment_method_name&desc={{ sort.desc }}">Способ<br> оплаты
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <a {% if sort.order == 'o.total_price' %} class="{{ sort.desc|lower }}" {% endif %}
                                                        href="/admin/order/sort/?order=o.total_price&desc={{ sort.desc }}">Цена итого
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <a {% if sort.order == 'status_name' %} class="{{ sort.desc|lower }}" {% endif %}
                                                        href="/admin/order/sort/?order=status_name&desc={{ sort.desc }}">Статус
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <a {% if sort.order == 'o.created_at' %} class="{{ sort.desc|lower }}" {% endif %}
                                                        href="/admin/order/sort/?order=o.created_at&desc={{ sort.desc }}">Дата заказа
                                                </a>
                                            </td>
                                            <td class="text-right">Действие</td>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% if orderList %}
                                            {% for order in orderList %}
                                                <tr class="order-{{ order.id }} order-item">
                                                    <td class="text-left">{{ order.id}}</td>
                                                    <td class="text-left">{{ order.first_name }}<br>{{ order.last_name }}</td>
                                                    <td class="text-left">{{ order.shipping_method_name }}</td>
                                                    <td class="text-left">{{ order.payment_method_name }}</td>
                                                    <td class="text-left">{{ order.total_price }}</td>
                                                    <td class="text-left">{{ order.status_name }}</td>
                                                    <td class="text-left">{{ order.created_at }}</td>
                                                    <td class="text-right td-action" style="min-width:150px">
                                                        <a href="/admin/order/view/{{ order.id }}"
                                                           data-toggle="tooltip" title="Просмотреть"
                                                           class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                                        <a href="/admin/order/update/{{ order.id }}"
                                                           data-toggle="tooltip" title="Редактировать"
                                                           class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a>
                                                        <a href="/admin/order/delete/{{ order.id }}"
                                                           data-toggle="tooltip" title="Удалить"
                                                           class="btn btn-primary"><i class="fa fa-times"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td class="text-center" colspan="8">Ничего не найдено</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>

                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% include 'admin/includes/footer.twig' %}

<script>
    $(function () {
        $('#button-filter').click(function (e) {
            e.preventDefault();
            let data = {
                'id': $('#input-id').val(),
                'client': $('#input-client').val(),
                'shipping_method_id': $('#input-shipping_method_id').val(),
                'payment_method_id': $('#input-payment_method_id').val(),
                'total_price': $('#input-total_price').val(),
                'status_id': $('#input-status_id').val(),
                'created_at': $('#input-created_at').val(),
            };
            $.ajax({
                url: '/admin/order/filter',
                type: 'POST',
                data: data,
                success: function (res) {
                    let orderItem = document.querySelectorAll('.order-item');
                    orderItem.forEach(function (item) {
                        item.classList.add("hide")
                    });

                    JSON.parse(res).forEach(function (item) {
                        let order = document.querySelector('.order-' + item.id);
                        order.classList.remove("hide");
                    });
                },
                error: function () {
                },
            });
        });
    });
</script>