{% include 'admin/includes/header.twig' %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Панель администратора
            <small>Обновить статью</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/coating/">Статьи</a></li>
            <li class="active">Обновить статью</li>
        </ol>
    </section>

    <section class="content">
        {% if errors is not empty %}
            <div class="col-lg-12 mistake">
                <p>Ошибка:</p>
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="col-lg-12 correct">
            <div class="login-form">
                <form action="/admin/coating/update/{{ coating.id }}" enctype="multipart/form-data" method="post">

                    <input type="hidden" name="id" placeholder="" value="{{ coating.id }}">

                    <p class="title-name">Название</p>
                    <input type="text" name="name" placeholder="" value="{{ coating.name }}" required>
                    <p class="required">*обязательное поле</p>

                    <p class="title-name">Краткое описание</p>
                    <textarea name="description" rows="4" cols="150" required>{{ coating.description }}</textarea>
                    <p class="required">*обязательное поле</p>

                    <p class="title-name">Изображения пленок</p>
                    <p class="required">*обязательное поле</p>

                    {% for photo in coating.photos %}
                        <img src="/upload/images/coating/{{ photo.file_alias }}" width="150" alt=""/>
                        <a href="/admin/coating/photo/delete/{{ coating.id }}/{{ photo.file_id }}" title="Удалить"><i class="fa fa-times"></i></a>
                        <p>Название пленки: "{{ photo.file_name }}"</p>
                        <br><br>
                    {% endfor %}

                    <input type='file' name='file[]' multiple>
                    <br><br>
                    <input type="submit" name="button" class="btn btn-default" value="Обновить"/>
                </form>
            </div>
        </div>
    </section>
</div>

{% include 'admin/includes/footer.twig' %}

<script>

    console.log($('input[type="file"]').prop('files'))
</script>