{% extends "site/layout.twig" %}

{% block content %}

    <main class="site-main">

        <section class="hero-banner">
            <div class="container">
                <div class="row no-gutters align-items-center pbt-30px">
                    <div class="col-5 d-none d-sm-block">
                        <div class="hero-banner__img">
                            <img class="img-fluid" src="/assets/images/site/home/main.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                        <div class="main__content">
                            <h4>{{ content.main_content_header }}</h4>
                            <h1>{{ content.main_content_short_description }}</h1>
                            <p>{{ content.main_content_description }}</p>
                            <a class="button button-hero" href="#">{{ content.catalog_button }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-margin calc-50px">
            <div class="container">
                <div class="row">
                    {% for category in categoryList %}
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="card text-center card-product">
                                <div class="">
                                    <a href="/catalog/{{ category.id }}">
                                        <img class="card-img catalog-img" src="/upload/images/category/{{ category.file_alias }}"
                                             alt="">
                                    </a>
                                    <ul class="catalog-item">
                                        <li><a href="/catalog/{{ category.id }}">
                                                <h2>Для детей<br>
                                                    <span class="section-intro__style">
                                                {{ category.name }}
                                            </span>
                                                </h2>
                                            </a>
                                        </li>
                                        <li>{{ category.short_description }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="section-margin calc-50px">
            <div class="container">
                <div class="section-intro pb-60px">
                    <p>Популярные товары в магазине</p>
                    <h2><img src="/assets/images/site/logo4.jpg" alt="">Трендовые <span class="section-intro__style">товары</span>
                    </h2>
                </div>
                <div class="row">
                    {% for product in productList %}
                        {% if product.popular == 1 %}
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="card text-center card-product">
                                    <div class="card-product__img">
                                        <img class="card-img" src="/upload/images/product/{{ product.file_alias }}"
                                             alt="">
                                        <ul class="card-product__imgOverlay">
                                            <li>
                                                <button><i class="ti-search"></i></button>
                                            </li>
                                            <li>
                                                <button><i class="ti-shopping-cart"></i></button>
                                            </li>
                                            <li>
                                                <button><i class="ti-heart"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <p class="popular-product__category">{{ product.category_name }}</p>
                                        <h4 class="card-product__title"><a
                                                    href="single-product.html">{{ product.product_name }}</a></h4>
                                        <p class="card-product__price">{{ product.price }} руб.</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

        {% if sale.status == 1 %}
            <section class="offer" id="parallax-1" data-anchor-target="#parallax-1"
                     data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="offer__content text-center">
                                <h3>{{ sale.sale }}</h3>
                                <h4>{{ sale.name }}</h4>
                                <p>{{ sale.description }}</p>
                                <a class="button button--active mt-3 mt-xl-4" href="#">{{ content.catalog_button }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        <section class="blog section-margin calc-50px">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 mb-4 mb-lg-0">
                        <div class="section-intro pb-60px">
                            <div class="hero-banner__img">
                                <img class="img-fluid" src="/assets/images/site/home/comment.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 mb-4 mb-lg-0">
                        <div class="section-intro pb-60px text-right">
                            <p>Отзывы о наших товарах</p>
                            <h2><span class="section-intro__style">Отзывы</span><img src="/assets/images/site/logo3.jpg"
                                                                                     alt=""></h2>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 mb-4 mb-lg-0">
                                    <div class="card card-blog">
                                        <div class="card-body">
                                            <h4 class="card-blog__title"><a href="single-blog.html">Настя Павленко</a>
                                            </h4>
                                            <p>Какой хороший отыв, какой хороший я и песенка моя. Какой хороший отыв,
                                                какой хороший я и песенка моя.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 mb-4 mb-lg-0">
                                    <div class="card card-blog">
                                        <div class="card-body">
                                            <h4 class="card-blog__title"><a href="single-blog.html">Даша</a></h4>
                                            <p>Какой хороший отыв, какой хороший я и песенка моя. Какой хороший отыв,
                                                какой
                                                хороший я и песенка моя. Какой хороший отыв, какой хороший я и песенка
                                                моя.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 mb-4 mb-lg-0">
                                    <div class="card card-blog">
                                        <div class="card-body">
                                            <h4 class="card-blog__title"><a href="single-blog.html">Кристина</a></h4>
                                            <p>Какой хороший отыв, какой хороший я и песенка моя. Какой хороший отыв,
                                                какой хороший я и песенка моя.
                                                Какой хороший отыв, какой хороший я и песенка моя.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="button button--active mt-3 mt-xl-4" href="#">Читать все отзывы</a>
                        </div>
                    </div>
                </div>

                <div class="section-intro pb-60px">
                    <p>Последние статьи из нашего блога</p>
                    <h2><img src="/assets/images/site/logo2.jpg" alt=""><span class="section-intro__style">Статьи</span>
                    </h2>
                </div>

                <div class="row">

                    {% for article in articleList %}
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                            <div class="card card-blog">
                                <div class="card-blog__img">
                                    <img class="card-img rounded-0" src="/upload/images/blog/{{ article.file_alias }}" alt="">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-blog__title">
                                        <a href="blog/{{ article.alias }}/{{ article.id }}">{{article.name}}</a>
                                    </h4>
                                    <div class="card-blog__body">
                                        <p>{{article.short_description}}</p>
                                    </div>
                                    <a class="card-blog__link" href="#">{{content.read_more}}<i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="instagram_area">
            <div class="container">
                <div class="insta_btn">
                    <a class="btn theme_btn" href="https://instagram.com/babyspace__store/">
                        Подпишись на нас в инстаграмм
                    </a>
                </div>
                <div class="instagram_image row">
                    <img src="/assets/images/site/instagram/1-min.jpg" alt="">
                    <img src="/assets/images/site/instagram/5-min.jpg" alt="">
                    <img src="/assets/images/site/instagram/3-min.jpg" alt="">
                    <img src="/assets/images/site/instagram/4-min.jpg" alt="">
                    <img src="/assets/images/site/instagram/2-min.jpg" alt="">
                    <img src="/assets/images/site/instagram/6-min.jpg" alt="">
                </div>
            </div>
        </section>
    </main>
{% endblock %}