<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Baby's space</title>
    <link rel="icon" href="img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="/assets/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendors/nouislider.min.css">
    <link rel="stylesheet" href="/assets/css/vendors/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/assets/css/site/style.css">
</head>
<body>

<header class="menu_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="/"><img src="/assets/images/site/logo.jpg" alt="">Baby's
                    space</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="/">Главная</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="/catalog" class="nav-link dropdown-toggle" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Каталог</a>
                            <ul class="dropdown-menu">
                                {% for category in categoryList %}
                                    <li class="nav-item"><a class="nav-link" href="/catalog/{{ category.id }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Компания</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="/o-nas">{{ content.about_us }}</a></li>
                                <li class="nav-item"><a class="nav-link" href="/dostavka-i-oplata">{{ content.delivery_and_payment }}</a></li>
                                <li class="nav-item"><a class="nav-link" href="/blog">{{ content.blog }}</a></li>
                                <li class="nav-item"><a class="nav-link" href="/new">{{ content.new }}</a></li>
                                <li class="nav-item"><a class="nav-link" href="tracking-order.html">{{ content.comment }}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/contacts">{{ content.tracking }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contacts">{{ content.contacts }}</a></li>
                    </ul>

                    <ul class="nav-shop">
                        <li class="nav-item">
                            <button><i class="fa fa-search"></i></button>
                        </li>
                        <li class="nav-item">
                            <button><i class="fa fa-shopping-cart"></i><span class="product_in_cart_count">{{productCountInCart}}</span></button>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown" >
                                <div class="dropbtn">
                                    <p class="dropbtn-text">{{language.name}}</p>
                                </div>
                                <div class="dropdown-content">
                                    {% for language in languageList %}
                                        <a href="/change-language/{{ language.alias }}"><img class="dropbtn-img" src="/upload/images/language/{{ language.file_alias }}" alt="">{{ language.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown" >
                                <div class="dropbtn">
                                    <p class="dropbtn-text"><b>{{currency.code }}</b></p>
                                </div>
                                <div class="dropdown-content">
                                    {% for currency in currencyList %}
                                        <a href="/change-currency/{{ currency.code }}"><b>{{ currency.code }}</b></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>
        </nav>
    </div>
</header>

{% block content %}
{% endblock %}

<footer class="footer">
    <div class="footer-area">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title large_title">Baby's space</h4>
                        <p>{{content.footer_title}}</p>
                        <p>{{content.footer_text}}</p>
                        <span class="fab fa-telegram social-links"></span>
                        <span class="fab fa-whatsapp social-links"></span>
                        <span class="fab fa-instagram social-links"></span>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">{{content.catalog_title}}</h4>
                        <ul class="list">
                            {% for category in categoryList %}
                                <li><a href="/catalog/{{ category.id }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">{{Pages}}</h4>
                        <ul class="list">
                            <li><a href="/o-nas">{{ content.about_us }}</a></li>
                            <li><a href="/dostavka-i-oplata">{{ content.delivery_and_payment }}</a></li>
                            <li><a href="/blog">{{ content.blog }}</a></li>
                            <li><a href="/new">{{ content.new }}</a></li>
                            <li><a href="#">{{ content.comment }}</a></li>
                            <li><a href="#">{{ content.tracking }}</a></li>
                            <li><a href="/contacts">{{ content.contacts }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <div class="ml-40">
                            <p class="sm-head">
                                <span class="fa fa-location-arrow"></span>
                                Адрес
                            </p>
                            <p>123, Main Street, Your City</p>

                            <p class="sm-head">
                                <span class="fa fa-phone"></span>
                                Телефон
                            </p>
                            <p>
                                +7 (917) 896-03-46
                            </p>

                            <p class="sm-head">
                                <span class="fa fa-comments"></span>
                                Эл. почта
                            </p>
                            <p>
                                info@baby-space.store
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex">
                <p class="col-lg-12 footer-text text-center">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    Дизайн и разработка сайта <a href="" target="_blank">MargoMono</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="/assets/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/assets/js/vendors/bootstrap.min.js"></script>
<script src="/assets/js/vendors/skrollr.min.js"></script>
<script src="/assets/js/vendors/nouislider.min.js"></script>
<script src="/assets/js/vendors/jquery.ajaxchimp.min.js"></script>
<script src="/assets/js/vendors/mail-script.js"></script>

{% block scripts %}
{% endblock %}

</body>
</html>