{% include 'admin/includes/header.twig' %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Панель администратора
            <small>Добавить товар</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/product/">Товары</a></li>
            <li class="active">Добавить товар</li>
        </ol>
    </section>

    <section class="content">
        {% if errors is not empty %}
            <div class="col-lg-12 mistake">
                <p>Ошибка:</p>
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="col-lg-12 correct">
            <div class="login-form">
                <form action="#" enctype="multipart/form-data" method="post">

                    <p class="title-name">Категория товара</p>
                    <p class="note">* можно добавить товар только в категорию, не имеющую родительской</p>
                    <select name="category_id" required>
                        <option value="" selected="selected">Отсутствует</option>
                        {% for category in categoryList %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <p class="required">*обязательное поле</p>

                    <p class="title-name">Название товара</p>
                    <p class="required">*обязательное поле</p>
                    <p class="note">*максимальная длина 100 символов</p>
                    <input type="text" name="name" placeholder="" value="" maxlength="100" required>

                    <p class="title-name">Краткое описание товара</p>
                    <p class="required">*обязательное поле</p>
                    <p class="note">*максимальная длина 250 символов</p>
                    <textarea name="description" rows="2" cols="150" maxlength="250" required></textarea>

                    <p class="title-name">Полное описание товара</p>
                    <textarea id="summernote" name="content"></textarea>

                    <p class="title-name">Главное изображение товара</p>
                    <input type="file" name="file" required>
                    <p class="required">*обязательное поле</p>

                    <p class="title-name">Изображения для галереи</p>
                    <input type='file' name='files[]' multiple >

                    <p class="title-name">Рекомендованные товары</p>
                    <p class="note">* можно выбрать несколько товаров</p>
                    <select multiple name="recommendation_ids[]">';
                        {% for product in productList %}
                            <option value="{{ product.id }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>

                    <p class="title-name">Коллекции пленок</p>
                    <p class="note">* можно выбрать несколько коллекции</p>
                    <select multiple name="coating_ids[]">';
                        {% for coating in coatingList %}
                            <option value="{{ coating.id }}">{{ coating.name }}</option>
                        {% endfor %}
                    </select>

                    <p class="title-name">Статус</p>
                    <select name="enabled">
                        <option value="1" selected="selected">Отображается</option>
                        <option value="0">Скрыта</option>
                    </select>

                    <p class="title-name">Порядковый номер</p>
                    <input type="text" name="position" placeholder="" value="">

                    <p class="title-name">Тэг title</p>
                    <textarea name="tag_title" rows="4" cols="150"></textarea>

                    <p class="title-name">Тэг description</p>
                    <textarea name="tag_description" rows="4" cols="150"></textarea>

                    <p class="title-name">Тэг keywords</p>
                    <textarea name="tag_keywords" rows="4" cols="150"></textarea>
                    <br><br>
                    <input type="submit" name="button" class="btn btn-default" value="Сохранить"/>
                </form>
            </div>

        </div>
    </section>
</div>

{% include 'admin/includes/footer.twig' %}
