{% include 'admin/includes/header.twig' %}

<link rel="stylesheet" href="/assets/css/admin/tabs.css">

<div class="content-wrapper">
    <section class="content-header">
        <div class="pull-right">
            <button type="submit" form="form-product" data-toggle="tooltip" title="Сохранить" class="btn btn-primary">
                <i class="fa fa-save"></i>
            </button>
            <a href="/admin/product" data-toggle="tooltip" title="Вернуться" class="btn btn-stile">
                <i class="fa fa-reply"></i>
            </a>
        </div>
        <h1>Добавить товар</h1>
    </section>
    <section class="content">
        <form action="" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-general" data-toggle="tab">Основное</a></li>
                <li><a href="#tab-data" data-toggle="tab">Данные</a></li>
                <li><a href="#tab-links" data-toggle="tab">Связи</a></li>
                <li><a href="#tab-image" data-toggle="tab">Изображения</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-general">
                    <ul class="nav nav-tabs" id="language">
                        {% for language in languages %}
                            <li>
                                <a href="#tab-language-{{ language.id }}" data-toggle="tab"> {{ language.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for language in languages %}
                            <div class="tab-pane" id="tab-language-{{ language.id }}">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label required" for="input-name-{{ language.id }}">Название</label>
                                    <div class="col-sm-10">
                                        <input type="text" minlength="1" maxlength="255" name="name-{{ language.id }}"
                                               value="{{ product.name }}" id="input-name-{{ language.id }}" class="form-control"/>
                                        <p class="prompt">от 1 до 255 символов</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-description-{{ language.id }}">Описание</label>
                                    <div class="col-sm-10">
                                        <textarea class="summernote" id="input-description-{{ language.id }}"
                                                  name="description-{{ language.id }}">{{ product.content }}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-meta_title">Мета-тег Title</label>
                                    <div class="col-sm-10">
                                        <input type="text" minlength="1" maxlength="255"
                                               name="meta_title-{{ language.id }}" value="{{ product.name }}"
                                               id="input-meta_title" class="form-control"/>
                                        <p class="prompt">от 1 до 255 символов</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-meta_description">Мета-тег
                                        Description</label>
                                    <div class="col-sm-10">
                                        <input type="text" minlength="1" maxlength="255"
                                               name="meta_description-{{ language.id }}" value="{{ product.name }}"
                                               id="input-meta_description" class="form-control"/>
                                        <p class="prompt">от 1 до 255 символов</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-meta_keyword">Мета-тег
                                        Keyword</label>
                                    <div class="col-sm-10">
                                        <input type="text" minlength="1" maxlength="255"
                                               name="meta_keyword-{{ language.id }}" value="{{ product.name }}"
                                               id="input-meta_keyword" class="form-control"/>
                                        <p class="prompt">от 1 до 255 символов</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-tag">Теги товара</label>
                                    <div class="col-sm-10">
                                        <input type="text" minlength="1" maxlength="255" name="tag-{{ language.id }}"
                                               value="{{ product.name }}" id="input-tag" class="form-control"/>
                                        <p class="prompt">от 1 до 255 символов</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="tab-data">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-category">Категория</label>
                        <div class="col-sm-10">
                            <select name="category_id" id="input-category" class="form-control">
                                {% for category in categoryList %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-size">Размер</label>
                        <div class="col-sm-10">
                            <select name="size_id" id="input-size" class="form-control">
                                {% for size in sizeList %}
                                    <option value="{{ size.id }}">{{ size.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-type">Вид</label>
                        <div class="col-sm-10">
                            <select name="type_id" id="input-type" class="form-control">
                                {% for type in typeList %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="input-price">Цена, руб.</label>
                        <div class="col-sm-10">
                            <input type="number" name="price" id="input-price"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="input-weight">Вес, грамм</label>
                        <div class="col-sm-10">
                            <input type="number" name="weight" id="input-weight"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-sale">Скидка, %</label>
                        <div class="col-sm-10">
                            <input type="number" max="99" name="sale" value="" id="input-sale"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">Статус</label>
                        <div class="col-sm-10">
                            <select name="status" id="input-status" class="form-control">
                                <option value="1">Отображается</option>
                                <option value="0">Скрыт</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-popular">Популярный товар (для отображения на главной)</label>
                        <div class="col-sm-10">
                            <input type="checkbox" name="popular" id="input-popular" value="1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-sort">Порядок сортировки</label>
                        <div class="col-sm-10">
                            <input type="text" name="sort" value="{{ product.sort }}" id="input-sort"
                                   class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-links">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-recommendation">Рекомендуемые товары</label>
                        <div class="col-sm-10">
                            <select id="input-recommendation" class="form-control">
                                <option value="default">Не выбрано</option>
                                {% for product in productRecommendationList %}
                                    <option value="{{ product.id }}">{{ product.product_name }}</option>
                                {% endfor %}
                            </select>
                            <div id="product-recommendation-list" class="well well-sm"
                                 style="height: 150px; overflow: auto;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-country">Страны продажи</label>
                        <div class="col-sm-10">
                            <select id="input-country" class="form-control">
                                <option value="default">Не выбрано</option>
                                {% for country in countryList %}
                                    <option value="{{ country.id }}">{{ country.name }}</option>
                                {% endfor %}
                            </select>
                            <div id="product-country-list" class="well well-sm" style="height: 150px; overflow: auto;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-image">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="input-file">Главное изображение
                            товара</label>
                        <div class="col-sm-10">
                            <input type="file" name="file" id="input-file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-files">Дополнительные изображения</label>
                        <div class="col-sm-10">
                            <input type='file' name='files[]' id="input-files" multiple>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
{% include 'admin/includes/footer.twig' %}

<script type="text/javascript">
    $(document).ready(function () {
        //show first tab
        $('#language a:first').tab('show');
        $('#option a:first').tab('show');


        // Product recommendations
        const recommendationSelect = document.querySelector('#input-recommendation');

        recommendationSelect.addEventListener('click', () => {
            let index = recommendationSelect.options.selectedIndex;
            let text = recommendationSelect.options[index].text;
            let value = recommendationSelect.options[index].value;

            if (value == 'default') {
                return;
            }

            $('#product-recommendation' + value).remove();
            $('#product-recommendation-list').append('<div id="product-recommendation' + value + '"><i class="fa fa-minus-circle"></i> ' + text + '<input type="hidden" name="product_recommendation[]" value="' + value + '" /></div>');

        });

        $('#product-recommendation-list').delegate('.fa-minus-circle', 'click', function () {
            $(this).parent().remove();
        });

        // Product country
        const countrySelect = document.querySelector('#input-country');

        countrySelect.addEventListener('click', () => {
            let index = countrySelect.options.selectedIndex;
            let text = countrySelect.options[index].text;
            let value = countrySelect.options[index].value;

            if (value == 'default') {
                return;
            }

            $('#product-country' + value).remove();
            $('#product-country-list').append('<div id="product-country' + value + '"><i class="fa fa-minus-circle"></i> ' + text + '<input type="hidden" name="product_country[]" value="' + value + '" /></div>');

        });

        $('#product-country-list').delegate('.fa-minus-circle', 'click', function () {
            $(this).parent().remove();
        });

        // Validation
        $('#form-product').on('submit', function (e) {

            {% for language in languages %}

            if (!$('#input-name-{{ language.id }}').val()) {
                validAlert(e);
                return;
            }

            {% endfor %}

            if (!$('#input-price').val()) {
                validAlert(e);
                return;
            }

            if (!$('#input-file').val()) {
                validAlert(e);
            }
        });

        const content = '<div class="alert alert-danger alert-dismissible">\n' +
            '            <i class="fa fa-exclamation-circle "></i> Заполните все необходимые поля, отмеченные звездочкой\n' +
            '            <button type="button" class="close" data-dismiss="alert">&times;</button>\n' +
            '        </div>';

        function validAlert(e) {
            e.preventDefault();
            $('.alert').remove();
            $('.content').prepend(content);
        }
    });

</script>


