{% include 'admin/includes/header.twig' %}

<div class="content-wrapper">
    <section class="content-header">
        <div class="pull-right">
            <button type="button" data-toggle="tooltip" title="Фильтр"
                    onclick="$('#filter-product').toggleClass('hidden-sm hidden-xs');"
                    class="btn btn-stile hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
            <a href="/admin/product/create" data-toggle="tooltip" title="Добавить" class="btn btn-primary"><i
                        class="fa fa-plus"></i></a>
        </div>
        <h1>Товары</h1>
    </section>
    <section class="content">
        <div class="container-fluid">
            {% if error_warning %}
                <div class="alert alert-danger alert-dismissible"><i
                            class="fa fa-exclamation-circle"></i> {{ error_warning }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            {% if success %}
                <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            <div class="row">
                <div id="filter-product" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-filter"></i>Фильтр</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label" for="input-name">Название товара</label>
                                <input type="text" name="filter_name" placeholder="Название товара" id="input-name"
                                       class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-category">Категория</label>
                                <select required name="category_id" id="input-category" class="form-control">
                                    <option></option>
                                    {% for category in categoryList %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-price">Цена</label>
                                <input type="text" name="filter_price" placeholder="Цена" id="input-price"
                                       class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-status">Статус</label>
                                <select name="filter_status" id="input-status" class="form-control">
                                    <option></option>
                                    <option value="1">Отбражается</option>
                                    <option value="0">Скрыт</option>
                                </select>
                            </div>
                            <div class="form-group text-right">
                                <button type="button" id="button-filter" class="btn btn-stile"><i
                                            class="fa fa-filter"></i>Фильтровать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-md-pull-3 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
                        </div>
                        <div class="panel-body">
                            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <td class="text-center">Изображение</td>
                                            <td class="text-left">
                                                <a {% if sort.order == 'pd.name' %} class="{{ sort.desc|lower }}" {% endif %}
                                                        href="/admin/product/sort/?order=pd.name&desc={{ sort.desc }}">Название</a>
                                            </td>
                                            <td class="text-left">
                                                <a {% if sort.order == 'c.name' %} class="{{ sort.desc|lower }}" {% endif %}
                                                        href="/admin/product/sort/?order=c.name&desc={{ sort.desc }}">Категория</a>
                                            </td>
                                            <td class="text-left">
                                                <a {% if sort.order == 'p.status' %} class="{{ sort.desc|lower }}" {% endif %}
                                                        href="/admin/product/sort/?order=p.status&desc={{ sort.desc }}">Статус</a>
                                            </td>
                                            <td class="text-right">Действие</td>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% if productList %}
                                            {% for product in productList %}
                                                <tr class="product-{{ product.id }} product-item">
                                                    <td class="text-center">{% if product.file_alias %} <img
                                                                src="/upload/images/product/{{ product.file_alias }}"
                                                                alt="{{ product.product_name }}"
                                                                class="img-thumbnail"/> {% else %} <span
                                                                class="img-thumbnail list"><i
                                                                    class="fa fa-camera fa-2x"></i></span> {% endif %}
                                                    </td>
                                                    <td class="text-left">{{ product.product_name }}</td>
                                                    <td class="text-left">{{ product.category_name }}</td>
                                                    <td class="text-left">{% if product.status == 1 %} Отбражается {% else %} Скрыт {% endif %}</td>
                                                    <td class="text-right  td-action">
                                                        <a href="/admin/product/update/{{ product.id }}"
                                                           data-toggle="tooltip" title="Редактировать"
                                                           class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a>
                                                        <a href="/admin/product/delete/{{ product.id }}"
                                                           data-toggle="tooltip" title="Удалить"
                                                           class="btn btn-primary"><i class="fa fa-times"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td class="text-center" colspan="8">Ничего не найдено</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>

                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% include 'admin/includes/footer.twig' %}

<script>
    $(function () {
        $('#button-filter').click(function (e) {
            e.preventDefault();
            let data = {
                'name': $('#input-name').val(),
                'category': $('#input-category').val(),
                'price': $('#input-price').val(),
                'status': $('#input-status').val()
            };
            $.ajax({
                url: '/admin/product/filter',
                type: 'POST',
                data: data,
                success: function (res) {
                    let productItem = document.querySelectorAll('.product-item');
                    productItem.forEach(function (item) {
                        item.classList.add("hide")
                    });

                    JSON.parse(res).forEach(function (item) {
                        let product = document.querySelector('.product-' + item.id);
                        product.classList.remove("hide");
                        console.log(product)
                    });
                },
                error: function () {
                },
            });
        });
    });
</script>