<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
<head>
    <title>KDF trading</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    {% include 'site/includes/head.twig' %}
    <link rel="stylesheet" type="text/css" href="/assets/css/site/index.css">
</head>
<body>

{% include 'site/includes/header.twig' %}

<div class="catalog-page">
    <div class="breadcrumbs">
        {% include 'site/includes/breadcrumbs.twig' %}
    </div>
    <div class="content index-catalog">
        <div class="title">
            <h2>{{ category.name }}</h2>
        </div>
        {% for childCategory in childCategoryList %}
            <div class="block">
                <div class="content-container" style="background-image:url('/upload/images/category/{{ childCategory.file_alias }}')">
                    <div class="content">
                        <h4>{{ childCategory.name }}</h4>
                        <a href="/catalog/{{ childCategory.alias }}/{{ childCategory.id }}" class="button">Посмотреть</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="hr"></div>
    {% include 'site/includes/callbackform.twig' %}
</div>

<link rel="stylesheet" type="text/css" href="/assets/css/site/catalog.css">
<script src="/assets/js/site/catalog-menu.js"></script>

{% include 'site/includes/footer.twig' %}