{% extends "site/layout.twig" %}

{% block content %}
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>{{content.catalog_title}}</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">{{content.main_page_title}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{content.catalog_title}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="section-margin--small mb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="sidebar-categories">
                        <div class="head">{{ content.filter_category_title }}</div>
                        <ul class="main-categories">
                            <li class="common-filter">
                                <form action="#">
                                    <ul>
                                        {% for category in categoryList %}
                                            <li class="filter-list">
                                                <input {% if category_id == category.id %} checked {% endif %} class="pixel-radio"
                                                       type="radio" id="category-{{ category.id }}" name="category" value="{{ category.id }}">
                                                <label for="{{ category.id }}"><span>{{ category.name }}</span></label>
                                            </li>
                                        {% endfor %}
                                        <li class="filter-list">
                                            <input {% if category_id is empty  %} checked {% endif %} class="pixel-radio"
                                                      type="radio" id="category-0" name="category" value="0">
                                            <label for="0"><span><b>Все</b></span></label>
                                        </li>
                                    </ul>
                                </form>
                            </li>
                        </ul>

                    </div>
                    <div class="sidebar-filter">
                        <div class="top-filter-head">{{ content.filter_title }}</div>
                        <div class="common-filter">
                            <div class="head">{{ content.filter_size_title }}</div>
                            <form action="#">
                                <ul>
                                    {% for size in sizeList %}
                                        <li class="filter-list">
                                            <input class="pixel-radio" type="radio" id="size-{{ size.id }}" name="size" value="{{ size.id }}">
                                            <label for="size-{{ size.id }}">{{ size.name }}</span></label>
                                        </li>
                                    {% endfor %}
                                    <li class="filter-list">
                                        <input checked class="pixel-radio" type="radio" id="size-0" name="size" value="0">
                                        <label for="size-0"><span><b>Все</b></span></label>
                                    </li>
                                </ul>
                            </form>
                            <div class="head">{{ content.filter_type_title }}</div>
                            <form action="#">
                                <ul>
                                    {% for type in typeList %}
                                        <li class="filter-list">
                                            <input class="pixel-radio" type="radio" id="type-{{ type.id }}" name="type" value="{{ type.id }}">
                                            <label for="type-{{ type.id }}">{{ type.name }}</span></label>
                                        </li>
                                    {% endfor %}
                                    <li class="filter-list">
                                        <input checked class="pixel-radio" type="radio" id="type-0" name="type" value="0">
                                        <label for="type-0"><span><b>Все</b></span></label>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <div class="common-filter">
                            <div class="head">Price</div>
                            <div class="price-range-area">
                                <div id="price-range"></div>
                                <div class="value-wrapper d-flex">
                                    <div id="lower-value"></div>
                                    <span><b>{{ currency.alias }}</b></span>
                                    <div class="between"> - </div>
                                    <div id="upper-value"></div>
                                    <span><b> {{ currency.alias }}</b></span>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <section class="lattest-product-area pb-40 category-list">
                        <div id="product__list" class="row">
                        </div>
                        <div class="justify-content-center d-flex">
                            <a href="#" class="button show-more">Показать ещё</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section class="subscribe-position">
        <div class="container">
            <div class="subscribe text-center">
                <h3 class="subscribe__title">{{ content.subscribe_title }}</h3>
                <p>{{ content.subscribe_description }}</p>
                <div id="mc_embed_signup">
                    <form target="_blank" action="" method="get" class="subscribe-form form-inline mt-5 pt-1"
                          novalidate="true">
                        <div class="form-group ml-sm-auto">
                            <input class="form-control mb-1" type="email" name="email"
                                   placeholder="{{ content.your_email }}">
                            <div class="info"></div>
                        </div>
                        <button class="button button-subscribe mr-auto mb-1"
                                type="submit">{{ content.subscribe_now }}</button>
                        <div style="position: absolute; left: -5000px;">
                            <input name="" tabindex="-1" value="" type="text">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function () {
            actionGetFilteredProducts();
            checkIfLastPage();
        });

        $("input[name='category']").click(function () {
            actionGetFilteredProducts();
        });

        $("input[name='size']").click(function () {
            actionGetFilteredProducts();
        });

        $("input[name='type']").click(function () {
            actionGetFilteredProducts();
        });

        function getParams() {
            return {
                category_id:document.querySelector('input[name="category"]:checked').value,
                size_id:document.querySelector('input[name="size"]:checked').value,
                type_id:document.querySelector('input[name="type"]:checked').value,
                count: document.getElementsByClassName('card-product').length,
                max: document.getElementById('upper-value').innerText,
                min: document.getElementById('lower-value').innerText,
            }
        }

        function actionGetFilteredProducts() {
            $.ajax({
                url: '/catalog/get-filtered-product-list/',
                type: 'POST',
                data:  getParams(),
                success: function (res) {
                    let parent = $('#product__list');
                    parent.empty();
                    parent.append(res);
                    checkIfLastPage()
                },
                error: function () {
                },
            });
        }

        $('.show-more').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '/catalog/show-more/',
                type: 'POST',
                data: getParams(),
                success: function (res) {
                    $('#product__list').append(res);
                    checkIfLastPage()
                },
                error: function () {
                },
            });
        });

        function checkIfLastPage() {
            $.ajax({
                url: '/catalog/last-page/',
                type: 'POST',
                data: getParams(),
                success: function (res) {
                    let response = JSON.parse(res);
                    if (response) {
                        $('.show-more').hide();
                    } else  {
                        $('.show-more').show();
                    }
                },
                error: function () {
                },
            });
        }


        let nonLinearSlider = document.getElementById('price-range');

        {% if max_convert %}
            let max = {{ max_convert }};
            let step = 1;
        {% else %}
            let max = {{ max }};
            let step = 50;
        {% endif %}

        {% if min_convert %}
            let min = {{ min_convert }};
        {% else %}
            let min = {{ min }};
        {% endif %}

        noUiSlider.create(nonLinearSlider, {
            connect: true,
            behaviour: 'tap',
            start: [min, max],
            step: step,
            range: {
                'min': [min],
                'max': [max]
            }
        });

        let nodes = [
            document.getElementById('lower-value'),
            document.getElementById('upper-value')
        ];

        nonLinearSlider.noUiSlider.on('update', function (values, handle) {
            nodes[handle].innerHTML = values[handle];
        });

        nonLinearSlider.noUiSlider.on('change', function () {
            actionGetFilteredProducts();
        });

    </script>

{% endblock %}