{% if productList %}
    {% for product in productList %}
        <div class="col-md-6 col-lg-4">
            <div class="card text-center card-product">
                <div class="card-product__img">
                    <a href="/product/{{ product.alias|e }}/{{ product.id|e }}">
                        <img class="card-img" src="/upload/images/product/{{ product.file_alias|e }}" alt="">
                    </a>
                    <ul class="card-product__imgOverlay">
                        <li>
                            <button><i class="ti-search"></i></button>
                        </li>
                        <li>
                            <button><i class="ti-shopping-cart"></i></button>
                        </li>
                        <li>
                            <button><i class="ti-heart"></i></button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <p>{{ product.category_name }}</p>
                    <h4 class="card-product__title"><a href="#">{{ product.product_name }}</a></h4>
                    <p class="card-product__price">{{ product.price }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="col-md-12 col-lg-12 text-center">
        <p>Ничего на найдено, попробуйсте изменить настройки поиска</p>
    </div>
{% endif %}