{% for product in productList %}
    <div class="block">
        <div class="content-container container-product"
             style="background-image:url('/upload/images/product/{{ product.file_alias }}')">
            <div class="content">
                <h4>{{ product.name }}</h4>
                <p class="text">{{ product.description }}</p>
                <a href="/product/{{ product.alias }}/{{ product.id }}"
                   class="button">Посмотреть</a>
            </div>
        </div>
    </div>
{% endfor %}

<script>
  $(document).ready(function() {
    let lastPage = {{ lastPage }};
    if (lastPage) {
      $('.show_more').hide();
    }
  });
</script>