{% extends "site/layout.twig" %}

{% block content %}
    <section class="blog-banner-area" id="blog">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Блог</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Блог</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog_left_sidebar">
                        {% for article in articleList %}
                            <article class="row blog_item">
                                <div class="col-md-3">
                                    <div class="blog_img text-right">
                                        <a href="/blog/{{ article.alias|e }}/{{ article.id|e }}">
                                            <img src="/upload/images/blog/{{ article.file_alias|e }}" alt=""
                                                 class="article-image"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="blog_post">
                                        <div class="blog_details">
                                            <a href="/blog/{{ article.alias|e }}/{{ article.id|e }}">
                                                <h2>{{ article.name }}</h2>
                                            </a>
                                            <p><b>{{ article.created_at }}</b></p>
                                            <p>{{ article.short_description }}</p>
                                            <a class="button button-blog"
                                               href="/blog/{{ article.alias|e }}/{{ article.id|e }}">{{content.read_more}}</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="justify-content-center d-flex">
            <a href="#" class="button show-more">Показать ещё</a>
        </div>
    </section>

    <section class="subscribe-position">
        <div class="container">
            <div class="subscribe text-center">
                <h3 class="subscribe__title">{{ content.subscribe_title }}</h3>
                <p>{{ content.subscribe_description }}</p>
                <div id="mc_embed_signup">
                    <form target="_blank" action="" method="get" class="subscribe-form form-inline mt-5 pt-1" novalidate="true">
                        <div class="form-group ml-sm-auto">
                            <input class="form-control mb-1" type="email" name="email" placeholder="{{ content.your_email }}">
                            <div class="info"></div>
                        </div>
                        <button class="button button-subscribe mr-auto mb-1" type="submit">{{ content.subscribe_now }}</button>
                        <div style="position: absolute; left: -5000px;">
                            <input name="" tabindex="-1" value="" type="text">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function() {
            checkIfLastPage();
        });

        $('.show-more').click(function(e) {
            e.preventDefault();
            let count = $('.blog_item').length;
            $.ajax({
                url: '/blog/show-more/' + count,
                type: 'GET',
                success: function(res) {
                    $('.blog_left_sidebar').append(res);
                    checkIfLastPage()
                },
                error: function() {
                },
            });
        });

        function checkIfLastPage() {
            let count = $('.blog_item').length;
            $.ajax({
                url: '/blog/last-page/' + count,
                type: 'GET',
                success: function(res) {
                    let response = JSON.parse(res);
                    if (response) {
                        $('.show-more').hide();
                    }
                },
                error: function() {
                },
            });
        }
    </script>

{% endblock %}