{% extends "site/layout.twig" %}

{% block content %}
    <link rel="stylesheet" href="/assets/css/vendors/stepper.css">
    <section class="blog-banner-area" id="blog">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>{{ product.product_name|e }}</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">{{ content.main_page_title }}</a></li>
                            <li class="breadcrumb-item"><a href="/catalog">{{ content.catalog_title }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ product.product_name|e }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="owl-carousel owl-theme s_Product_carousel">
                        <div class="single-prd-item">
                            <img class="img-fluid" src="/upload/images/product/{{ product.file_alias|e }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h2>{{ product.product_name|e }}</h2>
                        <p class="product_price">
                            {% if is_convert %}
                                &#8776; {{ product.convert_price }} {{ currency.alias }}
                                <i data-tooltip="{{ content.rate_price }}" class="fa fa-info-circle"></i>
                                <br>
                            {% endif %}
                            {{ product.price }} {{ content.rub }}
                        </p>
                        <ul class="list">
                            <li><span>{{ content.category }}</span>: {{ product.category_name|e }}</li>
                            <li><span>{{ content.size }}</span>: {{ product.size_name|e }}</li>
                            <li><span>{{ content.type }}</span>: {{ product.type_name|e }}</li>
                        </ul>
                        <br>
                        <div class="card-product__add">
                            <p>Товар добавлен!</p>
                            <p class="bold"><a href="/cart">{{ content.go_to_cart }}</a></p>
                        </div>
                        <div class="stepper stepper--style-2 js-spinner">
                            <input id="count_{{ product.id }}" type="number" name="count" min="0" max="100" step="1"
                                   value="1"
                                   class="stepper__input " data-stepper-debounce="400">
                            <div class="stepper__controls">
                                <button type="button" spinner-button="up">+</button>
                                <button type="button" spinner-button="down">-</button>
                            </div>
                        </div>
                        <br><br>
                        <a class="button primary-btn add-to-cart" data-id="{{ product.id }}" href="#">
                            <i class="fa fa-shopping-cart"></i>Add to Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs">
            </ul>
            <p class="product_description_delimiter"></p>
            <div class="product_description_text">
                {{ product.description|raw }}
            </div>
        </div>
    </section>
    {% if productRecommendationsList %}
        <section class="related-product-area section-margin--small mt-0">
            <div class="container">
                <div class="section-intro pb-60px">
                    <h2><img src="/assets/images/site/logo4.jpg" alt="">Рекомендованные
                        <span class="section-intro__style">товары</span>
                    </h2>
                </div>
                <div class="row mt-30">
                    {% for product in productRecommendationsList %}
                        <div class="col-md-4 col-lg-3">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <a href="/product/{{ product.alias|e }}/{{ product.id|e }}">
                                        <img class="card-img" src="/upload/images/product/{{ product.file_alias|e }}"
                                             alt="">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <p>{{ product.category_name }}</p>
                                    <h4 class="card-product__title"><a href="#">{{ product.product_name }}</a></h4>
                                    <p class="card-product__price">{{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    <section class="subscribe-position">
        <div class="container">
            <div class="subscribe text-center">
                <h3 class="subscribe__title">{{ content.subscribe_title }}</h3>
                <p>{{ content.subscribe_description }}</p>
                <div id="mc_embed_signup">
                    <form target="_blank" action="" method="get" class="subscribe-form form-inline mt-5 pt-1"
                          novalidate="true">
                        <div class="form-group ml-sm-auto">
                            <input class="form-control mb-1" type="email" name="email"
                                   placeholder="{{ content.your_email }}">
                            <div class="info"></div>
                        </div>
                        <button class="button button-subscribe mr-auto mb-1"
                                type="submit">{{ content.subscribe_now }}</button>
                        <div style="position: absolute; left: -5000px;">
                            <input name="" tabindex="-1" value="" type="text">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script src="/assets/js/vendors/stepper.js"></script>
    <script>
        $('.add-to-cart').click(function (e) {
            e.preventDefault();
            let id = $(this).attr('data-id');
            let count = $('#count_' + id).val();

            $.ajax({
                url: '/cart/add',
                type: 'POST',
                data: {
                    id: id,
                    count: count
                },
                success: function (res) {
                    $('.product_in_cart_count').html(JSON.parse(res).count)
                },
                error: function (e) {
                }
            });

            $(this).parent().find('.card-product__add').fadeIn();
        });

        $('body').click(function (e) {
            let cardProductAddInfo = $('.card-product__add');
            let addToCartButton = $('.add-to-cart');

            let fadeOut = true;
            $.each(addToCartButton, function (index, value) {
                if (value === e.target){
                    fadeOut = false;
                }
            });

            if (fadeOut === false) {
                return;
            }

            if (!cardProductAddInfo.is(e.target)) {
                cardProductAddInfo.fadeOut();
            }
        });

    </script>
{% endblock %}
