{% include 'admin/includes/header.twig' %}

<div class="content-wrapper">
    <section class="content-header">
        <div class="pull-right">
            <a href="/admin/category/create" data-toggle="tooltip" title="Добавить" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        </div>
        <h1>Категории</h1>
    </section>
    <section class="content">
        <div class="container-fluid">
            {% if error_warning %}
                <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            {% if success %}
                <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> Список статей</h3>
                        </div>
                        <div class="panel-body">
                            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-category">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <td class="text-center">Изображение</td>
                                            <td class="text-left"> <a {% if sort.order == 'c.name' %} class="{{ sort.desc|lower }}" {% endif %} href="/admin/category/sort/?order=c.name&desc={{ sort.desc }}">Название</a></td>
                                            <td class="text-left"> <a {% if sort.order == 'с.status' %} class="{{ sort.desc|lower }}" {% endif %} href="/admin/category/sort/?order=c.status&desc={{ sort.desc }}">Статус</a></td>
                                            <td class="text-right">Действие</td>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% if categoryList %}
                                            {% for category in categoryList %}
                                                <tr id="item-category-{{ category.id }}">
                                                    <td class="text-center">
                                                        {% if category.file_alias %} <img src="/upload/images/category/{{ category.file_alias }}" alt="{{ category.name }}" class="img-thumbnail"/>
                                                        {% else %} <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-left">{{ category.name }}</td>
                                                    <td class="text-left">{% if category.status == 1 %} Отбражается {% else %} Скрыта {% endif %}</td>
                                                    <td class="text-right  td-action">
                                                        <a href="/admin/category/update/{{ category.id }}" data-toggle="tooltip" title="Редактировать" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a>
                                                        <a href="/admin/category/delete/{{ category.id }}" data-toggle="tooltip" title="Удалить" class="btn btn-primary"><i class="fa fa-times"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td class="text-center" colspan="8">Ничего не найдено</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% include 'admin/includes/footer.twig' %}
