{% include 'admin/includes/header.twig' %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Панель администратора
            <small>Языки</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">Список языков</li>
        </ol>
    </section>

    <section class="content">
        <a href="/admin/language/create" class="btn btn-default back"><i class="fa fa-plus"></i> Добавить язык</a>

        <h4>Список статей</h4>

        <table class="table-bordered table-striped table">
            <tr>
                <th>Язык
                    <form action="/admin/language" method="post">
                        <input type="hidden" name="order" value="name">
                        <input type="submit" class="btn btn-filter" value="&darr;">
                    </form>
                </th>
                <th>Код языка
                    <form action="/admin/language" method="post">
                        <input type="hidden" name="order" value="code">
                        <input type="submit" class="btn btn-filter" value="&darr;">
                    </form>
                </th>
                <th>Название файла языка</th>
                <th>Изображение</th>
                <th colspan="2">Доступные действия</th>
            </tr>
            {% for language in languageList %}
                <tr>
                    <td>{{ language.name }}</td>
                    <td>{{ language.code }}</td>
                    <td>{{ language.alias }}</td>
                    <td><img src="/upload/images/language/{{ language.file_alias }}" width="150" alt=""/></td>
                    <td>
                        {% if language.alias != 'russian' %}
                            <a href="/admin/language/update/{{ language.id }}" title="Редактировать"><i class="fa fa-pencil-square-o"></i></a>
                        {% endif %}
                    </td>
                    <td>
                        {% if language.alias != 'russian' %}
                            <a href="/admin/language/delete/{{ language.id }}" title="Удалить"><i class="fa fa-times"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
</div>

{% include 'admin/includes/footer.twig' %}

