<div class="katalog_path">
    <span class="katalog_path_here">
        <a href="/">Главная</a>
    </span>
    {% if breadcrumbs is not empty %}
        {% for key, breadcrumb in breadcrumbs %}
            <span class="katalog_path_here">&gt;</span>
            <span class="katalog_path_here">
                <a href="/catalog/{{ breadcrumb.alias }}/{{ breadcrumb.id }}">{{ breadcrumb.name }}</a>
            </span>
        {% endfor %}
    {% endif %}
    {% if product.alias is not empty %}
        <span class="katalog_path_here">&gt;</span>
        <span class="katalog_path_here">
            <a href="/product/{{ product.alias }}/' {{ product.id }}">{{ product.name }}</a>
        </span>
    {% endif %}
</div>