<link rel="stylesheet" type="text/css" href="/assets/css/site/includes/footer.css">

<div class="footer-menu">
    <div class="block info">
        <div class="footer-logo">
            <img src="/assets/images/site/logo.png" class="logo">
        </div>

        <a href="#" class="footer-link">
            <img src="/assets/images/site/icons/map.png">
            <p>ул. Беломорская, 69а к.10</p>
        </a>
        <a href="tel:+78435700826" class="footer-link">
            <img src="/assets/images/site/icons/phone.png">
            <p>8 (843) 5-700-826</p>
        </a>
        <a href="tel:+78435718566" class="footer-link">
            <img src="/assets/images/site/icons/phone.png">
            <p>8 (843) 571-85-66</p>
        </a>
        <a href="mailto:kdf_16@mail.ru" class="footer-link">
            <img src="/assets/images/site/icons/email.png">
            <p>kdf_16@mail.ru</p>
        </a>

        <p class="additional">Мебельные фасады и <br>декоративные элементы в <br>Казани</p>
    </div>
    {% for category in footerCategoryList %}
        <div class="block menu">
            <h3>{{ category.name }}</h3>
            {% for childCategory in category.childCategoryList %}
                <a href="/catalog/{{ childCategory.alias }}/{{ childCategory.id }}">{{ childCategory.name }}</a>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<img id="loadImg" src="/assets/images/site/icons/loading.gif">

<div class="message-box">
    <div class="content">
        <p class="text"></p>
        <div class="close">&#10006;</div>
    </div>
</div>




<div class="last-news-box">
    <div class="content">
        <div class="title">
            <a href="/new/{{ lastNew.name }}/{{ lastNew.id }}"><h3>{{ lastNew.name }}</h3></a>
        </div>
        <div class="text-content">
            <a href="/new/{{ lastNew.name }}/{{ lastNew.id }}"><img src="/upload/images/new/{{ lastNew.file_alias }}" width="150" alt=""/></a>
            <p class="text">{{ lastNew.description }}</p>
        </div>
        <a href="/new/" class="button set_coockie">Смотреть остальные новости</a>
        <div class="close">&#10006;</div>
    </div>
</div>

<div id="for-chat-block"></div>

<div class="notify">
    <div class="content">
        <p>Мы используем <a href="/cookie/">cookie-файлы</a></p>
        <a href="#" class="button accept">Понятно</a>
    </div>
</div>

{% if comparison_product_count > 0 %}
    <a title="Перейти к избранному" href="/catalog/comparison-products">
        <div class="comparsion-info-box">
            <img src="/assets/images/site/icons/favorite.png" alt=""> <p> {{ comparison_product_count }} </p>
        </div>
    </a>
{% endif %}


<footer class="footer">
    <p class="date">&#169; 2020 год</p>
    <p class="design">Дизайн и изготовление сайта <a href="https://vk.com/id390775691">MonoCat</a></p>
</footer>

<script src="/assets/js/site/jquery.min.js"></script>
<script src="/assets/js/site/jquery.cookie.js"></script>

<script>

    $("#loadImg").hide();

    function startLoadingAnimation()
    {
        var imgObj = $("#loadImg");
        imgObj.show();
    }

    function stopLoadingAnimation()
    {
        $("#loadImg").hide();
    }

    $("#send-catalog-form").submit(function (event) {
        event.preventDefault();
        let data = {
            'name': $('#send-catalog-name').val(),
            'company': $('#send-catalog-company').val(),
            'email': $('#send-catalog-email').val(),
        };
        $.ajax({
            url: '/price-list/order',
            type: 'POST',
            data: data,
            success: function (res) {
                let response = JSON.parse(res);
                if (response.result) {
                    $('.message-box .text').text("Прайс-лист отправлен на почту");
                    $("#send-catalog-form input").text("");
                } else {
                    $('.message-box .text').text(response.errors);
                }
                $('.message-box').show('slow');
                stopLoadingAnimation();
            },
            error: function () {
                $('.message-box .text').text('Произошла ошибка при попытке отправки прайс-листа. Пожалуйста, попробуйте повторить запрос позднее.');
                $('.message-box').show('slow');
                stopLoadingAnimation();
            },
        });

        startLoadingAnimation();
    });

    $(document).ready(function () {
        $('.message-box .close').click(function () {
            $('.message-box').hide('slow');
        });

        $(document).mouseup(function (e){
            var div = $(".message-box");
            if (!div.is(e.target)
                && div.has(e.target).length === 0) {
                $('.message-box').hide('slow');
            }
        });

        $('.last-news-box .close').click(function () {
            $.cookie("popup", "", { expires:1, path: '/' });
            $(".last-news-box").hide();
        });
        $('.set_coockie').click(function () {
            $.cookie("popup", "", { expires:1, path: '/' });
        });

        // $(document).mouseup(function (e){
        //     var div = $(".last-news-box");
        //     if (!div.is(e.target) && div.has(e.target).length === 0) {
        //         $.cookie("popup", "", { expires:1, path: '/' });
        //         div.hide('slow');
        //     }
        // });

        if ( $.cookie("popup") == null )
            {
                setTimeout(function(){
                    $(".last-news-box").show('slow');
                }, 2000)
            }
        else
            {
                $(".last-news-box").hide('slow');
            }


        $('.notify .accept').click(function () {
            $.cookie("notify", "", { expires:30, path: '/' });
            $(".notify").hide('slow');
        });
        if ( $.cookie("notify") == null )
        {
            setTimeout(function(){
                $(".notify").show();
            }, 0)
        }
    });
</script>