<link rel="stylesheet" type="text/css" href="/assets/css/site/includes/fonts.css">
<link rel="stylesheet" type="text/css" href="/assets/css/site/includes/header.css">

<header class="site-header">
    <div class="site-logo">
        <a href="/">
            <img src="/assets/images/site/logo.png">
        </a>
    </div>

    <div class="site-header-table">
        <div class="site-header-block">
            <div class="block-row image">
                <img src="/assets/images/site/icons/map.png">
                <p>Адрес</p>
            </div>
            <div class="block-row">
                <a href="#">Казань,ул. Беломорская, 69а к.10</a>
            </div>
            <div class="block-row">
                &nbsp;
            </div>
        </div>
        <div class="site-header-block">
            <div class="block-row image">
                <img src="/assets/images/site/icons/phone.png">
                <p>Телефон</p>
            </div>
            <div class="block-row">
                <a href="tel:+78435700826">8 (843) 5-700-826</a>
            </div>
            <div class="block-row">
                <a href="tel:+78435718566">8 (843) 571-85-66</a>
            </div>
        </div>
        <div class="site-header-block">
            <div class="block-row image">
                <img src="/assets/images/site/icons/clock.png">
                <p>Часы работы</p>
            </div>
            <div class="block-row">
                <span>Пн-Пт с 08:00 до 17:00</span>
            </div>
            <div class="block-row">
                <span>Обед с 12:00 до 13:00</span>
            </div>
        </div>
        <div class="site-header-block telegram">
            <a href="http://t.me/Kdftrading">
                <img src="/assets/images/site/icons/telegram.png">
            </a>
            <a href="https://api.whatsapp.com/send?phone=79600898844">
                <img src="/assets/images/site/icons/whatsapp.png">
            </a>
        </div>
    </div>

</header>

<div class="menu-block">

    <nav>
        <ul class="topmenu">
            <li {% if page == 'main' %}class="selected"{% endif %}><a href="/">Главная</a></li>
            <li {% if page == 'company' %}class="selected"{% endif %}>Компания
                <ul class="submenu">
                    <li><a href="/company">О компании</a></li>
                    <li><a href="/portfolio">Портфолио</a></li>
                    <li><a href="/delivery">Доставка и оплата</a></li>
                    <li><a href="/blog">Полезные статьи</a></li>
                    <li><a href="/new">Новости</a></li>
                    <li><a href="/comments">Отзывы</a></li>
                </ul>
            </li>
            <li {% if page == 'catalog' %}class="selected"{% endif %}>Каталог
                <ul class="submenu">
                    {% for category in footerCategoryList %}
                        <li><a href="/catalog/{{ category.alias }}/{{ category.id }}">{{ category.name }}</a>
                            <ul class="submenu">
                                {% for childCategory in category.childCategoryList %}
                                    <li>
                                        <a href="/catalog/{{ childCategory.alias }}/{{ childCategory.id }}">{{ childCategory.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li {% if page == 'contact' %}class="selected"{% endif %}><a href="/contacts">Контакты</a></li>
        </ul>
    </nav>


    <div class="menu-search">
        <form action="/search" method="post">
            <input type="text" name="search" placeholder="Поиск по продукции">
            <button type="submit" name="submit">
                <img src="/assets/images/site/icons/search.png">
            </button>
        </form>
    </div>
</div>