{% extends "site/layout.twig" %}

{% block content %}
    <section class="blog-banner-area" id="blog">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Отзывы</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Отзывы</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="comment_area">
        <div class="container">
            <div id="comment__list">
                {% for comment in commentList %}
                    <article class="row comment_item">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="comment_details">
                                        <h2>{{ comment.user_name }}</h2>
                                        <p><b>{{ comment.created_at }}</b></p>
                                        <p>{{ comment.description }}</p>
                                    </div>
                                </div>
                                {% if comment.images %}
                                    <div class="col-12">
                                        <div class="row">
                                            {% for image in comment.images %}
                                                <div class="col-6 col-sm-4 col-md-3 col-lg-2 comment_image">
                                                    <img src="/upload/images/comment/{{ image.file_alias }}" alt=""/>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {% if comment.answer.description %}
                                <div class="row">
                                    <div class="col-lg-3">
                                    </div>
                                    <div class="col-12 col-lg-9">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="comment_details">
                                                    <h2>{{ content.admin }}</h2>
                                                    <p><b>{{ comment.answer.created_at }}</b></p>
                                                    <p>{{ comment.answer.description }}</p>
                                                </div>
                                            </div>
                                            {% if comment.answer.images %}
                                                <div class="col-12">
                                                    <div class="row">
                                                        {% for image in comment.answer.images %}
                                                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 comment_image">
                                                                <img src="/upload/images/comment/{{ image.file_alias }}"
                                                                     alt=""/>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <hr>
                    </article>
                {% endfor %}
            </div>
            <div class="justify-content-center d-flex">
                <a href="#" class="button show-more" style="display: none;">Показать ещё</a>
            </div>
            <div class="comment-form">
                <div class="alert alert-warning comment-form__alert" role="alert" style="display: none;">
                    <strong>Не заполнены обязательные поля!</strong> <br>
                    Пожалуйста, заполните все обязательные поля: имя, адрес электронной почты и текст отзыва
                </div>
                <h4>Leave a Reply</h4>
                <form id="comment-form__form">
                    <div class="form-group form-row">
                        <div class="form-group col-lg-6 col-md-6">
                            <input type="text" class="form-control" name="user_name" id="user_name"
                                   placeholder="Enter Name">
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <input type="email" class="form-control" name="user_email" id="user_email"
                                   placeholder="Enter email address">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-8 col-md-8">
                            <textarea class="form-control mb-10" rows="5" name="description" id="description"
                                      placeholder="Messege"></textarea>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="comment-form__files">
                                <label>
                                    <input id="upload-files" type="file" name="file[]" multiple/>
                                    <span>Выберите файлы</span>
                                </label>
                            </div>
                            <div id="file-preview-table">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="button comment-form__button button--active">Post Comment</a>
                </form>
            </div>
        </div>
    </section>
    <section class="comment_area">
    </section>
    <div class="comment-message-box">
        <div class="content">
            <p class="text"></p>
            <div class="close">&#10006;</div>
        </div>
    </div>
    <style>
        .footer-area {
            padding: 120px 0 120px;
        }
    </style>
{% endblock %}
{% block scripts %}
    <script src="/assets/js/site/comment.js"></script>
    <script>
        function checkIfLastPage() {
            $.ajax({
                url: '/comments/last-page/',
                type: 'POST',
                data: {
                    count: document.getElementsByClassName('comment_item').length,
                },
                success: function (res) {
                    let response = JSON.parse(res);
                    if (response) {
                        $('.show-more').hide();
                    } else {
                        $('.show-more').show();
                    }
                },
                error: function () {
                },
            });
        }

        $(document).ready(function () {
            checkIfLastPage();
        });

        $('.show-more').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '/comments/show-more/',
                type: 'POST',
                data: {
                    count: document.getElementsByClassName('comment_item').length,
                },
                success: function (res) {
                    $('#comment__list').append(res);
                    checkIfLastPage()
                },
                error: function () {
                },
            });
        });

    </script>

{% endblock %}