{% for comment in commentList %}
    <div class="block one-comment">
        <div class="image">
            {% for photo in comment.photos %}
                <div class="image-box">
                    <img src="/upload/images/comment/{{ photo.file_alias|e }}" alt=""
                         class="article-image"/>
                </div>
            {% endfor %}
        </div>
        <div class="text">
            <div class="title">
                <h3>{{ comment.description|e }}</h3>
                <p>{{ comment.created_at|e }}</p>
            </div>
            <div class="description">{{ comment.content|e }}</div>
            <div class="author">
                {{ comment.user_name|e }} <span>({{ comment.created_at|e }})</span>
            </div>
        </div>

        <div class="comment-answers">
            {% for children in comment.children %}
                <div class="block">
                    <div class="image">
                        {% for photo in children.photos %}
                            <div class="image-box">
                                <img src="/upload/images/comment/{{ photo.file_alias|e }}" alt=""
                                     class="article-image"/>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="text">
                        <div class="title">
                            <h4>RE: {{ children.description }}</h4>
                        </div>
                        <div class="description">{{ children.content }}</div>
                        <div class="author">
                            {{ children.user_name }}
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
            {% endfor %}
        </div>
    </div>
{% endfor %}

<script>
    $(document).ready(function () {
        let lastPage = {{ lastPage }};
        if (lastPage) {
            $('.show_more').hide();
        }
    });
</script>